<div
	class="kt-page--loading-enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">
	<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
		<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor "
				>
				<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
					<div class="kt-login__container">
						<!-- <div class="kt-login__logo">
							<a href="#">
								<img src="./assets/media/logos/logo-mini-2-md.png">
							</a>
						</div> -->
						<div class="kt-login__signin">
							<router-outlet></router-outlet>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>