<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Units List'" [class]="'kt-portlet__head--lg'" >
        
         <ng-container ktPortletTools>
            <button (click)="addWing()" disabled="{{addFlag}}"  *ngIf="NewButtonHideShow()"  mat-raised-button matTooltip="Create New wing" color="primary" type="button">
                <span>New Units </span>
            </button>
            
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form kt-margin-b-30">
            <!-- start::FILTERS -->
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-12 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Search wing" #searchInput placeholder="Search">
                            <mat-hint align="start">
                                <strong>Search</strong> in all fields
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
               
            </div>
            <!-- end::FILTERS -->

            <!-- start::GROUP ACTIONS -->
            <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update wing for selected' -->
            <!-- Group actions are shared for all LISTS -->
            <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                [ngClass]="{'show' : selection.selected.length > 0}"><!-- We show 'Group Actions' div if smth are selected -->
                <div class="col-xl-12">
                    <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label kt-form__label-no-wrap">
                            <label class="kt--font-bold kt-font-danger-">
                                <span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
                            </label>
                            <!-- selectedCountsTitle => function from codeBehind (wings-list.component.ts file) -->
                            <!-- selectedCountsTitle => just returns title of selected items count -->
                            <!-- for example: Selected records count: 4 -->
                        </div>
                        <div class="kt-form__control kt-form__group--inline">
                            <button (click)="fetchWings()" mat-raised-button matTooltip="Fetch selected wings"  class="mat-button-mt-4">
                                <mat-icon>clear_all</mat-icon>
                                Fetch Selected
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end::GROUP ACTIONS -->
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8"
                #table
                [dataSource]="WingsResult"
                matSort
                #sort1="matSort"
                matSortActive="id"
                matSortDirection="asc"
                matSortDisableClear>
                <!-- Checkbox Column -->

                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="wingid" style="display: none;">
                    
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">ID</mat-header-cell>
                    <mat-cell *matCellDef="let wing">{{wing.wingid}}</mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="companyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
                    <mat-cell *matCellDef="let company">{{company.companyname}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="locationname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                    <mat-cell *matCellDef="let location">{{location.locationname}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="buildingname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Building</mat-header-cell>
                    <mat-cell *matCellDef="let building">{{building.buildingname}}</mat-cell>
                </ng-container>
                 <ng-container matColumnDef="floorname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Floor</mat-header-cell>
                    <mat-cell *matCellDef="let Floor">{{Floor.floorname}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unitsname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Units</mat-header-cell>
                    <mat-cell *matCellDef="let name">{{name.unitsname}}</mat-cell>
                </ng-container>
               
                <ng-container matColumnDef="shortname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Short Name</mat-header-cell>
                        <mat-cell *matCellDef="let shortname">{{shortname.shortname}}</mat-cell>
                    </ng-container>
                <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let wing">
                        <button  disabled="{{editFlag}}" mat-icon-button color="primary"
                            matTooltip="{{ wing.isCore ? 'View' : 'Edit'}} wing"
                            (click)="editWing(wing)">
                            <mat-icon>
                                {{ wing.isCore ? 'visibility' : 'create' }}
                            </mat-icon>
                        </button>&nbsp;
                        <button disabled="{{deleteFlag}}" mat-icon-button    color="warn"
                            matTooltip="Delete wing"
                            type="button"
                            
                            (click)="deleteWing(wing)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
            <div class="mat-table__message" *ngIf="length">No records found</div><!-- Message for empty data  -->
           
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>
