<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item" id="kt_footer" style="background-color: #FEB300;">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}" >
		<div class="kt-footer__wrapper" >
			<div class="kt-footer__copyright" style="color: white;">
				{{today | date:'yyyy'}}&nbsp;©&nbsp;<a href="#" target="_blank" class="kt-link" style="color: white;" >iPFM</a>
			</div>
			<!-- <div class="kt-footer__menu">
				<a href="#" target="_blank" class="kt-link">About</a>
				<a href="#" target="_blank" class="kt-link">Team</a>
				<a href="#" target="_blank" class="kt-link">Contact</a>
			</div> -->
		</div>
	</div>
</div>
<!-- end:: Footer -->
