<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-cogs"></i>
					TimeZone
				</ng-template>
				<ng-template matTabContent>
					<div style="height: 850px;" >
                  <kt-timezonelist></kt-timezonelist>
                    
                    </div>
                    
				</ng-template>
			</mat-tab>
			<!-- <mat-tab *ngIf="user" [disabled]="!user || !user.id"> -->
				<mat-tab>
                    <kt-alert *ngIf="hasFormErrors1" type="warn" [showCloseButton]="true" [duration]="10000"
                                    (close)="onAlertClose($event)">
                                    Oh snap! Change a few things up and try submitting again.
                                </kt-alert>
                    <ng-template mat-tab-label>
                        <i class="mat-tab-label-icon fa fa-cogs"></i>
                        Region
                    </ng-template>
                    <ng-template matTabContent>
                        <div style="height: 850px;" >
                            <kt-regionlist></kt-regionlist>
                        </div>
                    </ng-template>
                </mat-tab>
			<mat-tab >
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-cogs"></i>
					Country
				</ng-template>
				<ng-template matTabContent>
                    <div style="height: 850px;" >
                    <kt-countrylist></kt-countrylist>
                </div>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<kt-alert *ngIf="hasFormErrors1" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-cogs"></i>
					State
				</ng-template>
				<ng-template matTabContent>
					<div style="height: 850px;" >
						<kt-statelist></kt-statelist>
					</div>
				</ng-template>
			</mat-tab>
            <mat-tab>
				<kt-alert *ngIf="hasFormErrors1" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-cogs"></i>
					City
				</ng-template>
				<ng-template matTabContent>
					<div style="height: 850px;" >
						<kt-Citylist></kt-Citylist>
					</div>
				</ng-template>
            </mat-tab>
            
			
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>