
        <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Change Password</h3>
                            </div>
    
                        </div>
                        <form class="kt-form kt-form--label-right" [formGroup]="form" *ngIf="userCollection">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
    
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                        <div class="kt-widget__media">
                                                                <img src="{{profile_img}}" height="150px" width="150px" alt="image">
                                                            </div>
                                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title=""
                                                        data-original-title="Cancel avatar">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Old Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" type="text" formControlName="currentpassword"
                                                    value="" required>
                                                    <div class="alert alert-danger" style="background-color: #5d78ff;" *ngIf="oldPwd.touched && oldPwd.invalid">
                                                            <div *ngIf="oldPwd.errors.required">Old Password is required.</div>
                                                            
                                                          </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" type="text" formControlName="newpassword"
                                                    value="" required>
                                                    <div class="alert alert-danger" style="background-color: #5d78ff;" *ngIf="newPwd.touched && newPwd.invalid">
                                                        <div *ngIf="newPwd.errors.required">New Password is required.</div>
                                                        
                                                      </div>
                                                    </div>
                                                   
                                            </div>
                                            <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Confirm Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" type="text" formControlName="confirmPassword"
                                                value="" required>
                                                <div class="alert alert-danger" style="background-color: #5d78ff;" *ngIf="confirmPwd.touched && confirmPwd.invalid">
                                                    <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
                                                    
                                                  </div>
                                            </div>

                                          
                                            </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button type="submit" class="btn btn-success" (click)="onSumbit(false)">Submit</button>&nbsp;
                                            <button type="reset" class="btn btn-secondary">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        