
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading,
'kt-portlet--body-progress-overlay' : loadingAfterSubmit }" style="width: 1000px;">
   <div class="kt-portlet__head kt-portlet__head__custom" *ngIf="NeighbourhoodCategory">
       <div class="kt-portlet__head-label">
           <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
       </div>
   </div>
   <div >
       <div class="kt-form" >
           <div class="kt-portlet__body">

               <div class="kt-portlet__body-progress">
                   <mat-spinner [diameter]="20"></mat-spinner>
               </div>

               <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                   Oh snap! Change a few things up and try submitting again.
               </kt-alert>

              
                   <div class="form-group kt-form__group row">
                       <div class="col-lg-12 kt-margin-bottom-20-mobile">
                           <mat-form-field class="mat-form-field-fluid">
                               <input matInput                                     
                                   placeholder="Enter Neighbourhood Category"  
                                   [(ngModel)]="NeighbourhoodCategory.neighbourhoodcategory" />
                            
                               <mat-hint align="start">Please enter
                                   <strong>Neighbourhood Category</strong>
                               </mat-hint>
                           </mat-form-field>
                       </div>
                     
                    
                   </div>
                   
              
               <div class="kt-separator kt-separator--dashed"></div>
               
           </div>
         
           <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
               <div class="kt-form__actions kt-form__actions--solid">
                   <div class="row text-right">
                       <div class="col-lg-12">
                           <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
                               Cancel
                           </button>&nbsp;
                           <button type="button" [disabled]="!isTitleValid() || NeighbourhoodCategory.isCore" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
                               Save
                           </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
